'Auth' => array(
    'routes' => array(
        array('POST'  , '/auth/{issuerId}', false, 'Auth::authenticate'),
    ),
    'options' => array(
        'providers' => array(
            'facebook' => array(),
            'google' => array(
                'clientId' => '${ADDON_AUTH_GOOGLE_CLIENT_ID}',
                'clientSecret' => '${ADDON_AUTH_GOOGLE_CLIENT_SECRET}'
            ),
            'googlejwt' => array()
        ),
        'ssl' => array(
            'verify_peer' => false,
            'verify_peer_name' => false
        )
    )
)