'Auth' => array(
    'routes' => array(
        array('POST'  , '/auth/{issuerId}', false, 'Auth::authenticate'),
    ),
    'options' => array(
        'providers' => '${ADDON_AUTH_PROVIDERS}',
        'ssl' => array(
            'verify_peer' => false,
            'verify_peer_name' => false
        )
    )
)